<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>AllUsers</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">

<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

	<div class="container-fluid">

		<div>
			<form th:action="@{/logout}" method="post" th:hidden="true"
				name="logoutForm">
				<input type="submit">
			</form>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand m-0" th:href="@{/}"> <img alt=""
					th:src="@{/images/ShopmeAdminSmall.png}">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavbar">
				
					<ul class="navbar nav p-1">
					
						<li class="nav-item" sec:authorize="hasAuthority('Admin')">
						<a class="nav-link" th:href="@{/users}">Users</a>
						</li>

						<li class="nav-item"><a class="nav-link"
							th:href="@{/categories}">Categories</a></li>

						<li class="nav-item"><a class="nav-link" th:href="@{/brands}">Brands</a>
						</li>

						<li class="nav-item"><a class="nav-link"
							th:href="@{/products}">Products</a></li>

						<li class="nav-item"><a class="nav-link"
							th:href="@{/customers}">Customers</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/sales}">Sales</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/shipping}">Shipping</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/salesReport}">Sales Report</a></li>
						<!-- <li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">Articles</a>
						</li> -->
						<li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/setting}">Setting</a></li>
						<li><span class="fas fa-user fa-2x icon-silver"></span></li>
						<!-- <li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/account}"
							sec:authentication="principal.fullName" style="color: white;"></a>

							<div class="dropdown-menu">
								<a class="dropdown-item" id="logoutLink" href="">Logout</a>

							</div>
							
							<div class="dropdown-menu">
								<a class="dropdown-item"  th:href="@{/account}">Profile</a>

							</div>
							
							</li> -->
							
						<li class="nav-item dropdown">
							    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/account}" sec:authentication="principal.fullName"
							style="color: white;"></a>

							<div class="dropdown-menu">
								<a class="dropdown-item" id="profileDropdown"
									th:href="@{/account}">Profile</a> <a class="dropdown-item"
									id="logoutLink" href="">Logout</a>
							</div>

						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}"
				class="fa-solid fa-user-plus fa-2x icon-dark"
				title="Create New User"></a> &nbsp; | &nbsp; <a
				th:href="@{/users/export/csv}"
				class="fa-solid fa-file-csv fa-2x icon-dark"
				title="Download in CSV File"></a> &nbsp; | &nbsp; <a
				th:href="@{/users/export/excel}"
				class="fa-solid fa-file-excel fa-2x icon-dark"
				title="Download in Excel File"></a> &nbsp; | &nbsp; <a
				th:href="@{/users/export/pdf}"
				class="fa-solid fa-file-pdf fa-2x icon-dark"
				title="Download in PDF File"></a>

		</div>
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>

		<div>
			<form th:action="@{/users/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortFeild" th:value=${sortFeild}>
				<input type="hidden" name="sortDir" th:value=${sortDir}>

				Filter: &nbsp; <input type="search" name="keyword"
					th:value="${keyword}" class="form-control" required="required">
				&nbsp;&nbsp; <input type="submit" value="Search"
					class="btn btn-primary"> &nbsp;&nbsp; <input type="button"
					value="Clear" class="btn btn-secondary" onclick="clearFilter()">
			</form>
		</div>

		<div>

			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">

					<tr>
						<th><a th:if="${sortFeild != 'id'}" class="text-white"
							style="text-decoration: none;"
							th:href="@{'/users/page/' + ${currentPage} + '?sortFeild=id&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword: ''}}">
								UserId </a> <a th:if="${sortFeild == 'id'}" class="text-white"
							style="text-decoration: none;"
							th:href="@{'/users/page/' + ${currentPage} + '?sortFeild=id&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
								UserId </a> <span th:if="${sortFeild =='id'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up': 'fas fa-sort-down'}">
						</span></th>

						<th>Photos</th>

						<th>Email</th>

						<th>FirstName</th>

						<th>LastName</th>

						<th>Roles</th>

						<th>Enabled</th>
						<th></th>


					</tr>

				</thead>

				<tbody>
					<tr th:each="user:${listallusers}">
						<td>[[${user.id}]]</td>
						<td><span th:if="${user.photos == null}"
							class="fa-solid fa-image-portrait fa-3x icon-silver"></span> <img
							th:if="${user.photos != null}"
							th:src="@{ ${user.photosImagePath}}" style="width: 80px"></td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstname}]]</td>
						<td>[[${user.lastname}]]</td>
						<td>[[${user.roles}]]</td>
						<td><a th:if="${user.enabled==true}"
							class="fas fa-check-circle fa-2x icon-green "
							th:href="@{'/users/'+ ${user.id} + '/enabled/false'}"
							title="Disable this User"></a> <a th:if="${user.enabled==false}"
							class="fas fa-circle fa-2x icon-dark "
							th:href="@{'/users/'+ ${user.id} + '/enabled/true'}"
							title="Enable this User"></a></td>
						<td><a class="fa-solid fa-pen-to-square fa-2x icon-green"
							th:href="@{'/users/edit/' + ${user.id}}" title="Edit this User"></a>

							&nbsp; <a
							class="fas fa-trash fa-2x color-dark delete icon-dark link-delete"
							th:href="@{'/users/delete/' + ${user.id}}" th:userId="${user.id}"
							title="Delete this User"></a></td>

					</tr>


				</tbody>

			</table>
		</div>


		<div class="text-center m1" th:if="${totalItems > 0}">
			<span>Showing User number : [[${startCount}]] to
				[[${endCount}]] of [[${totalItems}]]</span>
		</div>

		<div class="text-center m1" th:unless="${totalItems > 0}">
			<span>No User Found : </span>
		</div>

		<div th:if="${totalpages > 0}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{'/users/page/1?sortFeild=' + ${sortFeild} + '&sortDir=' + ${sortDir}}">First</a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{'/users/page/' + ${currentPage-1} + '?sortFeild=' + ${sortFeild} + '&sortDir=' + ${sortDir}}">Previous</a>
					</li>

					<li
						th:class="${currentPage != i ? 'page-item' :'page-item active'}"
						th:each="i : ${#numbers.sequence(1,totalpages)}"><a
						class="page-link"
						th:href="@{'/users/page/' + ${i} + '?sortFeild=' + ${sortFeild} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
					</li>

					<li
						th:class="${currentPage < totalpages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{'/users/page/' + ${currentPage +1} + '?sortFeild=' + ${sortFeild} + '&sortDir=' + ${sortDir}}">Next</a>
					</li>
					<li
						th:class="${currentPage < totalpages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{'/users/page/' + ${totalpages} + '?sortFeild=' + ${sortFeild} + '&sortDir=' + ${sortDir}}">Last</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title ">Delete Confirmation</h4>

						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
					</div>


					<div class="modal-body">

						<span id="confirmText"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>


		<div class="text-center">
			<p>Shopme Control panel - CopyRight &copy; Shopme</p>
		</div>
	</div>


	<script type="text/javascript">
	
	$(document).ready(function(){
		
		
		$(".link-delete").on("click",function(e){
			e.preventDefault();
			link =$(this); 
			//alert($(this).attr("href"));
			userId=link.attr("userId");
			$("#yesButton").attr("href",link.attr("href"));
			$("#confirmText").text("Are you sure you want to Delete this userID:" + userId)
			$("#confirmModal").modal();
			
		})
	});
	
	
	
	
	function clearFilter(){
		
		window.location= "[[@{/users}]]"
	}
	
	
	
	$(document).ready(function() {

		$("#logoutLink").on("click", function(e) {

			e.preventDefault();
			document.logoutForm.submit();
			
			customizeDropDownMenu();

		});

	});
	
	
	
	function customizeDropDownMenu(){
		 
		 $(".dropdown > a").click(function(){
			location.href= this.href; 
			 
			 
		 });
	 }
	
	
	
	
	
	</script>

</body>
</html>